:root {
    --primary-color: #8ec5f1;
    --secondary-color: #e0eaf1;
    --accent1-color: #29a2ff;
    --accent2-color: #2a2b2a;
    --heading-font: 'Open Sans', sans-serif;
    --body-font: 'Roboto', sans-serif;
}


header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

header img {
    width: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}


h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

article {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    position: absolute;
    bottom: 20px;
}

.socialmedia img {
    width: 50px;

}

.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.history-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.history-body img {
    width: 200px;
    height: auto;
}

.adventure-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.adventure-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.adventure-body img {
    width: 150px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    gap: 10px;
}

footer p {
    grid-column: 2 / 3;
}

.socialmedia {
    display: flex;
    gap: 10px;
    grid-column: 3 / 4;
}